.conda-py311/

__pycache__/
*.pyc
*.pyo
*.pyd

.DS_Store
Thumbs.db

apps/mobile-web/node_modules/
apps/mobile-web/dist/

apps/local-backend/scans/
apps/local-backend/backups/
apps/local-backend/medicines.db
apps/local-backend/.env

apps/cloud-extractor/.env

.idea/
.vscode/

apps/android/local.properties
apps/android/.gradle/
apps/android/build/
apps/android/app/build/
